In [8]:
import pandas as pd

In [9]:
dataset = pd.read_csv('data1.csv')
dataset.head(4)

   Duration          Date    Pulse  Maxpulse Calories
0        60  '2020/12/01'      110     130.0    409.1
1        60  '2020/12/02'      117     145.0    479.0
2        60  '2020/12/03'  103 135     340.0      NaN
3        45  '2020/12/04'      109     175.0    282.4

In [10]:
dataset.shape

(32, 5)

In [13]:
dataset.isnull().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    2
dtype: int64