In [2]:
import pandas as pd
import requests

In [8]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a12ae428146a080c7aff87bc9b941d46&language=en-US&page=1')

In [4]:
df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','vote_count']]
df.head()

,id,title,overview,release_date,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,26394
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,20019
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,12085
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,15492
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,8334

In [5]:
df1 = pd.DataFrame()
df1

Empty DataFrame
Columns: []
Index: []

In [7]:
for i in range(1,475):
   response = requests.get(f'https://api.themoviedb.org/3/movie/top_rated?api_key=a12ae428146a080c7aff87bc9b941d46&language=en-US&page={i}')
   
   temp_df = pd.DataFrame(response.json()['results'])[['id', 'title', 'overview', 'release_date', 'vote_count']]
   df1 = pd.concat([df1, temp_df], ignore_index=True)

In [9]:
df1

,id,title,overview,release_date,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,26394
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,20019
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,12085
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,15492
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,8334
...,...,...,...,...,...
18937,12142,Alone in the Dark,Edward Carnby is a private investigator specia...,2005-01-28,586
18938,13805,Disaster Movie,"The filmmaking team behind the hits ""Scary Mov...",2008-08-29,1002
18939,11059,House of the Dead,"Set on an island off the coast, a techno rave ...",2003-04-11,372
18940,14164,Dragonball Evolution,"On his 18th birthday, Goku receives a mystical...",2009-03-12,1993
18941,40016,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,2010-02-27,323

In [10]:
df1.shape

(18942, 5)

In [11]:
df1.to_csv('movies.csv')